<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8" />
        <title th:text="${title}">时间戳转换工具</title>
        <style>
        body{
            text-align:center;
        }
        .main {
            display:inline-block;
        }
        </style>
    </head>
    <body>
        <div class="main">
            <h1 th:text="${title}">时间戳转换工具</h1>
            <ul class="table">
                <li>
                    <label>当前时间戳：</label>
                    <div>
                        <a class="nowTimestamp" href="javascript:;" th:text="${nowTimestamp}"></a>
                    </div>
                </li>
            </ul>
            <form method="post">
                <ul class="table">
                     <li>
                        <label>时间戳</label>
                        <div>
                            <span style="display:inline-block">
                                <input class="timestamp" type="num" name="timestamp" th:value="${timestamp}"  value="******" />
                            </span>
                        </div>
                    </li>
                    <th:block th:if="${timeResult}">
                    <li>
                        <label>结果</label>
                        <div class="result" th:text="${timeResult}">
                            转换后的时间
                        </div>
                    </li>
                    </th:block>
                    <li th:if="${tipsTimestampToTime}" th:text="${tipsTimestampToTime}">
                    </li>
                </ul>
                <button type="submit">转换</button>
            </form>
            <form method="post">
                <ul class="table">
                     <li>
                        <label>时间：</label>
                        <div>
                            <span style="display:inline-block">
                                <input class="year" type="num" name="year" th:value="${year}"  value="******" />
                            </span>
                            <span>年</span>
                            <span style="display:inline-block">
                                <input class="month" type="num" name="month" th:value="${month}"  value="******" />
                            </span>
                            <span>月</span>
                            <span style="display:inline-block">
                                <input class="day" type="num" name="day" th:value="${day}"  value="******" />
                            </span>
                            <span>日</span>
                            <span style="display:inline-block">
                                <input class="hour" type="num" name="hour" th:value="${hour}"  value="******" />
                            </span>
                            <span>:</span>
                            <span style="display:inline-block">
                                <input class="minute" type="num" name="minute" th:value="${minute}"  value="******" />
                            </span>
                            <span>:</span>
                            <span style="display:inline-block">
                                <input class="second" type="num" name="second" th:value="${second}"  value="******" />
                            </span>
                        </div>
                    </li>
                    <th:block th:if="${timestampResult} != null">
                    <li>
                        <label>结果</label>
                        <div class="result" th:text="${timestampResult}">
                            转换后的时间戳
                        </div>
                    </li>
                    </th:block>
                    <li th:if="${tipsTimeToTimestamp}" th:text="${tipsTimeToTimestamp}">
                    </li>
                </ul>
                <button type="submit">转换</button>
            </form>
        </div>
    </body>
    <script>
        document.getElementsByClassName("nowTimestamp")[0].onclick = function(){
            nowTimestampObj = document.getElementsByClassName("nowTimestamp")[0];
            console.log(nowTimestampObj.innerHTML);
            document.getElementsByClassName('timestamp')[0].value = nowTimestampObj.innerHTML;
        }
    </script>
</html>
