<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8" />
        <title th:text="${title}">时间戳转换工具</title>
        <style>
        body{
            text-align:center;
        }
        .main {
            display:inline-block;
        }
        </style>
    </head>
    <body>
        <div class="main">
            <h1 th:text="${title}">时间戳转换工具</h1>
            <ul class="table">
                <li>
                    <label>当前时间戳：</label>
                    <div>
                        <a class="nowTimeStamp" href="javascript:;" th:text="${nowTimeStamp}"></a>
                    </div>
                </li>
            </ul>
            <form method="post">
                <ul class="table">
                     <li>
                        <label>时间戳</label>
                        <div>
                            <span style="display:inline-block">
                                <input class="timeStamp" type="num" name="timeStamp" th:value="${timeStamp}"  value="******" />
                            </span>
                        </div>
                    </li>
                    <th:block th:if="${time}">
                    <li>
                        <label>结果</label>
                        <div class="result" th:text="${time}">
                            转换后的时间
                        </div>
                    </li>
                    </th:block>
                    <li th:if="${tips}" th:text="${tips}">
                    </li>
                </ul>
                <button type="submit">转换</button>
            </form>
        </div>
    </body>
    <script>
        document.getElementsByClassName("nowTimeStamp")[0].onclick = function(){
            nowTimeStampObj = document.getElementsByClassName("nowTimeStamp")[0];
            console.log(nowTimeStampObj.innerHTML);
            document.getElementsByClassName('timeStamp')[0].value = nowTimeStampObj.innerHTML;
        }
    </script>
</html>
